<mjml>
    <mj-body background-color="#f1f1f1">
        <mj-section>
            <mj-column>
                <mj-text font-size="20px" color="#373737" font-family="helvetica" align="center">
                    Your newsletter is here
                </mj-text>
                <mj-divider border-color="#ddd"></mj-divider>
            </mj-column>
        </mj-section>

        <mj-wrapper th:each="article,index : ${articles}" padding="0">
            <mj-section background-color="#fff" padding="20px" border="1px solid #ddd">
                <mj-column>
                    <mj-text padding="5px 0" font-size="20px" color="#373737" font-family="helvetica" line-height="1.5">
                      <span th:text="${article.title}">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pretium, ipsum eget auctor dapibus
                      </span>
                    </mj-text>

                    <mj-text padding="5px 0" color="#555">
                        Published at <span th:text="${#temporals.format(article.pubDate, 'dd-MM-yyyy HH:mm')}">12-11-2020 12:34</span>
                    </mj-text>

                    <mj-text padding="5px 0" align="right">
                        <a th:href="@{${article.url}}">Read more</a>
                    </mj-text>
                </mj-column>
            </mj-section>

            <mj-spacer height="5px"/>
        </mj-wrapper>
    </mj-body>
</mjml>